@import "styles/global.module.scss";

.aboutContainer {
  min-height: 70vh;
  width: 100%;
  padding-top: 10%;
  background-color: $white;
  @include flexBox(center, center, column);

  .aboutItemContainer {
    @include flexBox(center, center, column);
    width: 100%;
    .aboutItems {
      width: 90%;
      margin-bottom: 30px;
      h2 {
        margin: 15px 0;
        color: $third-color;
      }
      p {
        color: $black;
      }
      ul {
        list-style: none;
        li {
          margin: 5px 0;
          color: $black;
        }
      }
    }
    @include forDesktop() {
      width: 90%;
      @include flexBox(space-around, flex-start, row);
      .aboutItems {
        width: 45%;
      }
    }
  }
  .downloadBtn {
    font-weight: 700;
    letter-spacing: 0;
    @include flexBox();

    @include forTablet(){
      width: 40%;
    }
    @include forDesktop(){
      width: 30%;
    }
  }
  
}
