@import "styles/global.module.scss";

.aboutContainer {
  @include forContainers($white, $black, 100%, 10% 0);
  .aboutItemContainer {
    @include flexBox(center, center, column);
    width: 100%;
    max-width: 920px;
    .aboutItems {
      width: 90%;
      margin-bottom: 30px;
      h2 {
        margin: 15px 0;
        color: $third-color;
      }
      p {
        color: $black;
      }
      ul {
        list-style: none;
        li {
          margin: 5px 0;
          color: $black;
        }
      }
    }
    @include forDesktop() {
      width: 90%;
      @include flexBox(space-around, flex-start, row);
      .aboutItems {
        width: 45%;
      }
    }
  }
  .resumeBtn {
    width: 50%;
    height: 50px;
    display: block;
    text-decoration: none;
    margin: 20px;
    .downloadBtn {
      width: 100%;
      height: 100%;
      margin: 0;
      font-weight: 700;
      letter-spacing: 0;
      @include flexBox();
    }

    @include forTablet() {
      width: 40%;
    }
    @include forDesktop() {
      width: 30%;
    }
  }
}
