@import "styles/global.module.scss";

.contactContainer {
  @include forContainers($bg-dark, $white, 100%, 10% 0) {
    @include flexBox(center, center, column);
  }
  .sectionTitle {
    @include sectionTitle();
  }
}

// For form component in Molecules/formItem
.form {
  width: 80%;
  margin: 30px 0 20px;
  @include flexBox(center, center, column);
  max-width: 820px;
}

// For input items/ textarea in Atoms/input
.inputItems,
.textItem {
  width: 100%;
  margin: 10px 0;
  .inputLabel {
    display: block;
    margin-bottom: 10px;
  }
  .input,
  .textarea {
    width: 100%;
    padding: 15px;
    margin: 5px auto 10px;
  }

  @include forTablet() {
    width: 80%;
    .input,
    .textarea {
      padding: 20px;
    }
  }
}
