@import "./global.module";

.projectContainer {
  position: relative;
  @include forContainers($white, $white, 100%, 10% 0 15%);
  @include flexBox(center, center, column);

  //　背景の半分を$bg-darkに設定
  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 30%;
    background-color: $bg-dark;
    position: absolute;
    top: 0;
  }
  .sectionTitle {
    @include sectionTitle();
    z-index: 2;
  }
  .projectItemContainer {
    width: 90%;
    max-width: 921px;
    z-index: 2;
    margin-top: 20px;
    @include flexBox(flex-start, center, column);

    // タブレット以上の画面幅のサイズ
    @include forTablet() {
      @include flexBox() {
        flex-wrap: wrap;
      }
      .cards {
        width: 45%;
        margin: 10px;
      }
    }

    .cardWrapper {
      width: 90%;
      max-width: 640px; //画像ファイルの幅
      height: 250px;
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
      transition: all 0.5s;
    }
  }
}

// components/Atoms/cards
.cards {
  width: 90%;
  max-width: 640px; //画像ファイルの幅
  height: 250px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  text-decoration: none;
  color: $white;
  .projectImage {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }
  .projectContent {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
    transition: all 0.5s;
    @include flexBox(center, center, column);
    &::before {
      content: "";
      display: block;
      background-color: $black;
      opacity: 0.2;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .projectName {
      z-index: 4;
      font-size: 1.5rem;
      transition: all 0.5s;
      text-align: center;
      text-transform: uppercase;
      filter: drop-shadow(5px 5px 5px $black);
    }

    .hoverBox {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: top;
      background-color: rgba(0, 0, 0, 0.6);
      transform: translateY(100%) rotateX(90deg);
      transition: all 0.5s;
      color: $white;
      @include flexBox();
      .projectLink {
        display: block;
        padding: 10px 10px 10px 20px;
        background: $second-color;
        color: $white;
        font-weight: 700;
        p {
          filter: drop-shadow(2px 2px 1px $black);
          @include flexBox();
          .linkIcon {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

// Cardのホバー時
.cards:hover {
  cursor: pointer;
  .projectImage {
    transform: scale(1.4);
  }
  .projectContent {
    &::before {
      display: none;
    }
    .projectName {
      display: none;
    }
    .hoverBox {
      transform: translateY(0) rotateX(0);
    }
  }
}

// それぞれのプロジェクトページのスタイル(components/Templates/projectTemplate/)
.projectPageContainer {
  width: 100%;
  padding-bottom: 10%;
  position: relative;
  @include flexBox();
  .goBack {
    position: absolute;
    top: 2%;
    left: 5%;
    text-decoration: none;
    @include forTablet() {
      top: 5%;
    }
  }
  .projectPageContent {
    width: 90%;
    margin-top: 10%;
    max-width: 921px;
    @include flexBox(center, center, column);
    .projectTitle {
      margin-bottom: 10px;
    }
    .projectDate {
      margin: 10px 0;
      font-size: 1.2rem;
      font-style: italic;
    }
    .htmlContent {
      width: 80%;
      margin: 20px;
      padding: 0 20px;
      h2 {
        margin: 10px 0;
      }
    }
    .projectImage {
      width: 80%;
      margin: 40px 0;
    }
  }
}
