@import "styles/global.module.scss";

.topContainer {
  min-height: 90vh;
  width: 100%;
  padding: 5%;
  @include flexBox(center, center, column);
  background-image: url("images/main_background.jpg");
  background-size: cover;
  position: relative;

  .topItemWrapper {
    width: 75%;
    height: 70%;
    z-index: 2;
    @include flexBox(center, center, column);
    .topHead {
      h2 {
        font-size: 2rem;
        color: $white;
      }
    }
    .topDescription {
      p {
        font-size: 1.2rem;
        color: $white;
      }
    }
    .topLinkBox {
      width: 100%;
    }
  }
}