@import "styles/global.module.scss";

.topContainer {
  min-height: 90vh;
  width: 100%;
  padding: 5%;
  background-image: url("images/main_background.jpg");
  background-size: cover;
  position: sticky;
  top: 0;
  @include flexBox(center, center, column);
  @include forTablet() {
    background-position: bottom;
  }
  @include forDesktop() {
    background-position: center;
  }

  .topItemWrapper {
    width: 90%;
    z-index: 2;
    @include flexBox(center, center, column);
    .topHead {
      width: 100%;
      text-align: center;
      h2 {
        font-size: 2rem;
        color: $white;
        filter: drop-shadow(0px 3px 5px $bg-dark);
        @include forTablet() {
          font-size: 3rem;
        }
        @include forDesktop() {
          font-size: 4rem;
        }
      }
    }
    .topDescription {
      width: 80%;

      @include forTablet() {
        width: 70%;
        p {
          font-size: 1.2rem;
        }
      }
      @include forDesktop() {
        width: 60%;
        p {
          font-size: 1.3rem;
        }
      }
      p {
        font-size: 1.1rem;
        color: $white;
        filter: drop-shadow(0px 3px 2px $bg-dark);
      }
    }
    .topLinkBox {
      width: 100%;
    }
  }
}
