@import "../../styles/global";

.aboutContainer {
    min-height: 70vh;
    width: 100%;
    padding-top: 10%;
    @include flexBox(center, center, column);
    background-color: $white;
    .aboutItems {
      width: 90%;
      margin-bottom: 30px;
      h2 {
        margin: 15px 0;
        color: $third-color;
      }
      p {
        color: $black;
      }
      ul {
        list-style: none;
        li {
          margin: 5px 0;
          color: $black;
        }
      }
    }
  }
  